<?xml version="1.0"?>
<launch>
  <arg name="paused" default="false"/>
  <arg name="verbose" default="false"/>
  <arg name="urdf_file" default="$(find sacc_rec_grasp_description)/urdf/scene.urdf.xacro" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="paused" value="$(arg paused)"/>
      <arg name="verbose" value="$(arg verbose)"/>
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model hbp" />
</launch>
